<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body >
    <section>
<div id="login-sheet">
    <div id="img"></div>
    <h2 style="width: 700px;;font-size: 28px; font-weight: bold; border-bottom: 2px solid rgb(55, 54, 54); position: absolute; top: 100px; padding-bottom: 5px;">Login</h2>
   <form  action="/auth/index" method="post"style="position: absolute;
   top: 160px;">
   <label for="">Email</label><br>
    <input
       type="text"
      class="input"
       size="30"
       placeholder="Your email"
       name="username"
     /> <br><br>
     <label for="">Password</label> <br>
     <input
       type="password"
      class="input"
       size="30"
       placeholder="Your password"
       name="password"
     /> <br> <br>
     <button id="login-btn" type="submit">Login</button>
      <a href="/signup" type="button" id="register-btn">Signup with email</a>
    </section>
 </div>
</form> 
</body>
</html>